{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="">
  <div class="wrapper">
    {% include 'sidebar.html' %}
    <div class="main-panel">
      <!-- Navbar -->
      {% include 'navbar.html' %}
      <!-- End Navbar -->
      <div class="content">
        {% block content %}
        {% endblock content %}
        {% include 'footer.html' %}
      </div>
    </div>
    {% include 'fixed-plugin.html' %}
    <!--   Core JS Files   -->
    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1004215303383181&autoLogAppEvents=1"
      nonce="t26ZUY8a"></script>


</body>

</html>